$navbar-light-active-color: white;
$navbar-light-color: rgba(255, 255, 255, 0.582);
$navbar-light-hover-color: white;
$primary: #133c63;

.navbar{
    img{
        max-height: 50px;
    }
    #profile-image{
        margin-left: 2vw;
    }
    a{
        .disabled{
            pointer-events: none;
            cursor: default;
            opacity: 0.5;
        }
        .enabled{
            cursor: pointer;
        }
    }

}