<nav class="navbar navbar-expand-md bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#1">
            <img src="../../../assets/img/hospital_logo.svg" alt="Medkit Logo" />
            MedKit
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar"
            aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" [class.active]="onLocate('home')" aria-current="page" (click)="onRedir('home')">Pacientes</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" [class.active]="onLocate('inventory')"  aria-current="page" (click)="onRedir('inventory')">Inventario</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" [class.active]="onLocate('exp')" aria-current="page" (click)="onRedir('exp')">Expedientes</a>
                </li>

                <li class="nav-item" id="medical-center">
                    <a class="nav-link"  [class.active]="onLocate('medicalc')" aria-current="page" (click)="onRedir('medicalc')">Centro
                        Médico</a>
                </li>

                <li class="nav-item" id="medical-repo">
                    <a class="nav-link"  [class.active]="onLocate('reportery')" aria-current="page" (click)="onRedir('reportery')">Reportería</a>
                </li>
            </ul>

            <button type="button" class="btn btn-primary" id="submitButton">
                Cerrar Sesión
            </button>
            <div class="d-flex" id="profile-image" role="profile">
                <a class="profile" href="#">
                    <img src="../../../assets/img/doctor.png" alt="Doctor Profile" id="profile-pic" />
                </a>
            </div>
        </div>
    </div>
</nav>