<nav class="navbar navbar-expand-md bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/home">
            <img src="../../../assets/img/hospital_logo.svg" alt="Medkit Logo" />
            MedKit
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar"
            aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" [ngClass]="{
                        'active': onLocate('/home')
                    }"
                        aria-current="page" routerLink="/home">Pacientes</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" [ngClass]="{
                        'active': onLocate('/inventory')
                    }"
                        aria-current="page" routerLink="/inventory">Inventario</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" [ngClass]="{
                        'active': onLocate('/exp')
                    }" aria-current="page" routerLink="/exp">Expedientes</a>
                </li>

                <li class="nav-item" id="medical-center">
                    <a class="nav-link" [ngClass]="{
                        'active': onLocate('/medicalc')
                    }" aria-current="page" routerLink="/medicalc">Centro
                        Médico</a>
                </li>

                <li class="nav-item" id="medical-repo">
                    <a class="nav-link" [ngClass]="{
                        'active': onLocate('/reportery')
                    }" aria-current="page" routerLink="/reportery">Reportería</a>
                </li>
            </ul>

            <button type="button" class="btn btn-primary" id="submitButton">
                Cerrar Sesión
            </button>
            <div class="d-flex" id="profile-image" role="profile">
                <a class="profile" href="#">
                    <img src="../../../assets/img/doctor.png" alt="Doctor Profile" id="profile-pic" />
                </a>
            </div>
        </div>
    </div>
</nav>