$backGround: white;
$logoColor: white;

body {
  background-color: $backGround;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container-lg {
  width: 200%;
  margin-top: 5vh;
  margin-bottom: 5vh;
  .card {
    width: 70%;
    img {
      max-width: 100px;
      margin: 20px;
    }
  }
  .card-body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    form{
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 90%;
      button{
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
      }
    }
  }
  input[class="form-control"]{
    min-width: 30vw;
  }
}
