<app-navbar></app-navbar>
<div class="container-fluid mb-5">
    <h1 class="home-title d-flex justify-content-center" id="welcomeUser">
        Bienvenido, usuario!
    </h1>
</div>

<div class="container-fluid" id="content-container">
    <div class="row">
        <div class="col-3 d-flex justify-content-center card-container">
            <div class="card d-flex align-items-center">
                <img class="card-img-top" alt="Foto Doctor" id="card-prof-pic" />
                <div class="container-fluid">
                    <div class="card-body d-flex flex-column">
                        <h2 class="card-title">Doctor</h2>
                        <h5 class="card-text">Nombre</h5>
                        <p class="card-text" id="doctorName">-</p>
                        <h5 class="card-text">Especialidad</h5>
                        <p class="card-text" id="specialty">-</p>
                        <h5 class="card-text">Dirección</h5>
                        <p class="card-text" id="address">-</p>
                        <h5 class="card-text">Número de teléfono</h5>
                        <p class="card-text" id="phone">-</p>
                        <h5 class="card-text">Número de colegiado</h5>
                        <p class="card-text" id="colegiate">-</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-9">
            <div class="mb-3 container-fluid d-flex align-items-center justify-content-end">
                <div class="col-11 d-flex align-items-center justify-content-start">
                    <h4>Estos son tus pacientes</h4>
                </div>
                <div class="col-1 d-flex align-items-center justify-content-end">

                </div>
            </div>

            <div class="table-responsive table-scroll" data-mdb-perfect-scrollbar="true">
                <table class="table table-light mb-0">
                    <thead style="background-color: white">
                        <tr class="text-uppercase">
                            <th scope="col">ID</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Evolución</th>
                            <th scope="col">Estado</th>
                            <th scope="col">Género</th>
                            <th scope="col">Edad</th>
                            <th scope="col">Expediente</th>
                        </tr>
                    </thead>
                    <tbody id="table-body" class="table-group-divider">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>