$navbar-light-active-color: white;
$navbar-light-color: rgba(255, 255, 255, 0.582);
$navbar-light-hover-color: white;
$primary: #133c63;

@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/bootstrap/scss/variables";
