<p>table works!</p>
<div class="table-responsive table-scroll" data-mdb-perfect-scrollbar="true">
    <table class="table table-light mb-0">
        <thead style="background-color: white">
            <tr class="text-uppercase">
                <th scope="col">ID</th>
                <th scope="col">Nombre</th>
                <th scope="col">Evolución</th>
                <th scope="col">Estado</th>
                <th scope="col">Género</th>
                <th scope="col">Edad</th>
                <th scope="col">Expediente</th>
            </tr>
        </thead>
        <tbody id="table-body" class="table-group-divider">
            <tr *ngFor="let row of tableData">
                <td>{{ row.id }}</td>
                <td>{{ row.nombre }}</td>
                <td>{{ row.evolucion }}</td>
                <td>{{ row.estado }}</td>
                <td>{{ row.genero }}</td>
                <td>{{ row.edad }}</td>
                <td>            
                    <button type="button" class="btn btn-light">
                    <img src="./../../../assets/img/search.png" alt="View Icon">
                  </button></td>
              </tr>
        </tbody>
    </table>

    

</div>